.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-window {
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.messages {
    flex-grow: 1;
    padding: 10px;
}

.send-button {
    align-items: center;
    background-color: #ccc;
    border-top: 1px solid #ccc;
}

.text-button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

